.Login .card{
    margin: auto;
    text-align: center;
}
.Login .card h2 {
    margin: auto;
    text-align: center;
}

.Login .card h3 {
    margin: auto;
    text-align: center;
}

.Login .form {
    margin: auto;
}