.Register .card{
    margin: auto;
    text-align: center;
}
.Register .card h2 {
    margin: auto;
    text-align: center;
}

.Register .card h3 {
    margin: auto;
    text-align: center;
}

.Register .form {
    margin: auto;
}